body, html {
    text-align: center;
    font-family: 'Arial';
    font-size: 16px;
    background: linear-gradient(red, gold);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
    margin: 0 auto;
    padding: 0;
}

header {
    padding-top: clamp(.1rem, 0vw, 1rem);
}

h1 {
    font-size: 64px;
    display: inline-block;
    font-family: cursive;
    line-height: 1rem;
    text-shadow: 0 0 5px yellow;
}

input {
    font-size: 1rem;
    padding: 10px;
    border-radius: 5px;
}
   
button {
    margin: 5px;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.button[disabled] {
    background-color: rgb(193, 193, 193);
    border: 1px solid rgb(193, 193, 193);
    cursor: default;
    filter: grayscale(100%);
}

.button[disabled]:hover {
    background-color: rgb(193, 193, 193);
}

   
table {
    display: inline-block;
    margin: 30px auto 10px auto;
    border: 2px solid goldenrod;
    border-right: 0;
    background-color: white;
    table-layout: fixed;
    border-collapse: collapse;
    border-radius: 5px;
}

th, td {
    border-right: 2px solid goldenrod;
    padding: 10px;
    margin: auto;
}

.duizend {
    width: 100%;
}

.een {
    font-size: clamp(3rem, 10vw, 6rem);
    padding-left: 1rem;
}

.bommen {
    font-size: clamp(2rem, 8vw, 4rem);
    padding-right: 1rem;
}

.titel {
    font-family: 'Sorts Mill Goudy', serif;
    font-variant: small-caps;
    font-size: clamp(1rem, 9vw, 4rem);
    padding: 0 1rem;
}

.spelers {
    margin-top: 20px;
}


input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.punten input {
    border: none;
    text-align: center;
    border-radius: 0;
    padding: 15px;
    margin: 0;
    background-color: rgb(193, 193, 193);
    width: 100%;
    box-sizing: border-box;
}

.punten td {
    padding: 0;
}

/* Plus button */
.plus {
    background-color: rgb(85, 213, 85);
    border: 1px solid rgb(0, 165, 0);
}
.plus:hover {
    background-color: rgb(0, 165, 0);
}
.plus:active {
    transform: scale(0.98);
}
 
/* Min button */
.min {
    background-color: rgb(255, 120, 120);
    border: 1px solid red;
}
.min:hover {
    background-color: red;
}
.min:active {
    transform: scale(0.98);
}

/* Bonus button */
.bonus {
    background-color:rgb(255, 235, 121);
    border: 1px solid gold;
    width: 100%;
    margin: auto;
}
.bonus:hover {
    background-color: gold;
}
.bonus:active{
    transform: scale(0.98);
}

/* Speel mee button */
.speelmee {
    background-color: rgb(255, 235, 121);
    color: black;
    border: 1px solid gold;
}
.speelmee:hover {
    background-color: gold;
    color: black;
}
.speelmee:active {
    transform: scale(0.98);
}

/* Reset button */
.reset-row {
    border-top: 2px solid goldenrod;
}

#reset[disabled] {
    width: 100%;
    margin: auto;
    background-color: rgb(193, 193, 193);
    cursor: default;
}

#reset {
    width: 100%;
    margin: auto;
    background-color: rgb(114, 114, 114);
}
#reset:active {
    transform: scale(0.99);
}

.columnSpeler1,
.columnSpeler2,
.columnSpeler3,
.columnSpeler4 {
    color: rgb(114, 114, 114);
}

