/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    text-align: center;
    background: linear-gradient(red, gold);
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    min-width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


h3, p {
    padding: 1rem .5rem;
    white-space: nowrap;
}

.heading-fontsize-3players {
    font-size: clamp(1rem, 4vw, 1.2rem);
}

.heading-fontsize-4players {
    font-size: clamp(0.8rem, 3.5vw, 1rem);
}

.score-fontsize-2players {
    font-size: 2rem;
}

.score-fontsize-3players {
    font-size: min(7vw, 2rem);
}

.score-fontsize-4players {
    font-size: min(5.5vw, 2rem);
}

input {
    border-style: none;
    border: 1px solid goldenrod;
    font-size: 1rem;
    padding: 10px;
    border-radius: 5px;
}
   
button {
    margin: 5px;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
}

.button[disabled] {
    background-color: rgb(193, 193, 193);
    border: 1px solid rgb(193, 193, 193);
    cursor: default;
    filter: grayscale(100%);
}

.button[disabled]:hover {
    background: rgb(193, 193, 193);
}

/* Header */
.bombsLogo {
    width: min(432px, 70%);
}

/* Subscription area */
.unlockPlayers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    gap: .8rem;
}

.join {
    background-color: rgb(255, 235, 121);
    color: black;
    border: 1px solid gold;
    width: 110px;
}

.join:hover {
    background: linear-gradient(-45deg, gold, rgb(255, 235, 121) 25%, gold);
    color: black;
}

.join:active {
    transform: scale(0.98);
}

.add-player-button {
    font-size: .8rem;
    width: auto;
    padding: 6px;
}

@media only screen and (max-width: 345px) {
    .playerNameInput,
    .join {
        font-size: 0.8rem;
    }

    .unlockPlayers-container {
        gap: 0.3rem;
    }
}

@media only screen and (hover: none) {
    .join {
        background: linear-gradient(-45deg, gold, rgb(255, 235, 121) 25%, gold);
    }
}

/* Scoreboard */

.scoreboard-container {
    max-width: 40rem;
    border-radius: 1rem;
    border: 3px solid goldenrod;
    background: linear-gradient(-45deg, rgba(255, 255, 255, 0.5), white, rgba(255, 255, 255, 0.5));
}

.score-grid {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(25%, auto);
}

.player-container {
    border-left: 2px solid goldenrod;
}

.player-container:nth-child(1) {
    border-left: 2px solid rgba(255, 255, 255, 0.0);
}

.scorePlayer {
    border: none;
    text-align: center;
    padding: 15px;
    margin: 0;
    background: radial-gradient(rgb(193, 193, 193), transparent 60%);
    width: 100%;
    box-sizing: border-box;
}

.reset-container {
    border-top: 2px solid goldenrod;
}
.button-container,
.reset-container {
    padding: 0.8rem;
}

@media only screen and (max-width: 500px) {
    .bombsLogo {
        margin-top: 1rem;
    }
    .button-container {
        padding: 0.2rem;
    }
    .button-container:last-child {
        padding: 0.6rem;
    }

    h3, p {
        padding: 1rem 0.2rem;
    }
}

.namePlayer {
    overflow: hidden;
    text-overflow: ellipsis;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.score input {
    border: none;
    text-align: center;
    border-radius: 0;
    padding: 15px;
    margin: 0;
    background-color: rgb(193, 193, 193);
    width: 100%;
    box-sizing: border-box;
}

.disabled {
    color: rgb(114, 114, 114);
}

/* Plus button */
.plus100,
.plus1000 {
    background-color: rgb(85, 213, 85);
    border: 1px solid rgb(0, 165, 0);
}
.plus100:hover,
.plus1000:hover {
    background: linear-gradient(-45deg, rgb(0, 165, 0), rgb(85, 213, 85) 25%, rgb(0, 165, 0));
}
.plus100:active,
.plus1000:active {
    transform: scale(0.98);
}
 
/* Min button */
.min100,
.min1000 {
    background-color: rgb(255, 120, 120);
    border: 1px solid red;
}
.min100:hover,
.min1000:hover {
    background: linear-gradient(-45deg, red, rgb(255, 120, 120) 25%, red);
}
.min100:active,
.min1000:active {
    transform: scale(0.98);
}

/* Bonus button */
.bonus {
    background-color:rgb(255, 235, 121);
    border: 1px solid gold;
    width: 100%;
    margin: auto;
}
.bonus:hover {
    background: linear-gradient(-45deg, gold, rgb(255, 235, 121) 25%, gold);
}
.bonus:active{
    transform: scale(0.98);
}

/* Reset button */

.reset-container {
    grid-column: span 4;
}
.reset-row {
    border-top: 2px solid goldenrod;
}

#resetButton[disabled] {
    width: 100%;
    margin: auto;
    background: rgb(193, 193, 193);
    cursor: default;
}

#resetButton[disabled]:hover {
    background: rgb(193, 193, 193);
}

#resetButton {
    width: 100%;
    margin: auto;
    background-color: rgb(114, 114, 114);
}

#resetButton:hover {
    background: linear-gradient(-45deg, rgb(114, 114, 114), rgb(150, 150, 150) 25%, rgb(114, 114, 114));
}
#resetButton:active {
    transform: scale(0.99);
}

@media only screen and (hover: none) {
    .plus100[disabled],
    .plus1000[disabled],
    .min100[disabled],
    .min1000[disabled],
    .bonus[disabled] {
        background: rgb(193, 193, 193);
    }
    
    .plus100,
    .plus1000 {
        background: linear-gradient(-45deg, rgb(0, 165, 0), rgb(85, 213, 85) 25%, rgb(0, 165, 0));
    }

    .min100,
    .min1000 {
        background: linear-gradient(-45deg, red, rgb(255, 120, 120) 25%, red);
    }

    .bonus {
        background: linear-gradient(-45deg, gold, rgb(255, 235, 121) 25%, gold);
    }

    #resetButton {
        background: linear-gradient(-45deg, rgb(114, 114, 114), rgb(150, 150, 150) 25%, rgb(114, 114, 114));
    }
}

/* Footer */
footer {
    margin-top: 1.5rem;
}

footer span {
    font-family: 'Sorts Mill Goudy', serif;
}

.games999-logo {
    width: min(110px, 35%);
    padding: 1.5rem;
}
