body, html {
    text-align: center;
    font-family: 'Arial';
    background: linear-gradient(red, gold);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 48px;
    display: inline-block;
    font-family: cursive;
    line-height: 0em;
    text-shadow: 0 0 4px yellow;
}

input {
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
}
   
button {
    margin: 5px;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

   
table {
    display: inline-block;
    margin: 30px auto 10px auto;
    border: 2px solid goldenrod;
    border-right: 0;
    background-color: white;
    table-layout: fixed;
    border-collapse: collapse;
    border-radius: 5px;
}

th, td {
    border-right: 2px solid goldenrod;
    padding: 10px;
    margin: auto;
}

@media (max-width: 600px) {
    .titel {
        font-size: 36px;
    }
}
.een {
    font-size: 64px;
}

.bommen {
    margin-right: 0.4em;
}

.spelers {
    margin-top: 20px;
}

.punten,
#scoreSpeler1 {
    color: black;
    background-color: rgb(255, 235, 121);
    font-weight: bold;
    font-size: 18px;
}

.reset {
    border-top: 2px solid goldenrod;
}

.plus {
    background-color: rgb(85, 213, 85);
    border: 1px solid rgb(0, 165, 0);
}
.plus:hover {
    background-color: rgb(0, 165, 0);
}
.plus:active {
    border-color: white;
}
 
.min {
    background-color: rgb(255, 120, 120);
    border: 1px solid red;
}
.min:hover {
    background-color: red;
}
.min:active {
    border-color: white;
}

.bonus {
    background-color:rgb(255, 235, 121);
    border: 1px solid gold;
    width: 100%;
    margin: auto;
}
.bonus:hover {
    background-color: gold;
}
.bonus:active{
    border-color:white;
}

.speelmee {
    background-color: rgb(255, 235, 121);
    color: black;
    border: 1px solid gold;
}
.speelmee:hover {
    background-color: gold;
    color: black;
}


#reset {
    width: 100%;
    margin: auto;
    background-color: rgb(193, 193, 193);
    border: 1px solid rgb(193, 193, 193);
}
#reset:hover {
    background-color: rgb(114, 114, 114);
    border: 1px solid rgb(114, 114, 114);
}
#reset:active {
    border-color:white;
}